ul {
	list-style-type: none;
	margin=0;
	padding=0;
	overflow: hidden;
	background-color: #53beff;
	width: 100%;
	
}
li{
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #0758f0;
	color: black;
}
li a:hover:(.active) {
  	background-color: #FFFFFF;
}
li:hover {
	transform: scale(1.5);
	transition: all 0.8s ease;
}

  
  

